img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}

img.unapproved {
  opacity: 0.2;
}

@media (max-width: 576px) {
  img.img-thumbnail {
    height: 300px;
    min-width: 300px !important;
  }
}
